.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a192f;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #ccd6f6;
        border-top-color: #e63946;
        animation: spin 1s linear forwards;

        &::after{
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 5px solid #ccd6f6;
            border-top-color: #e63946;
            animation: spin 1s linear forwards;
        }
    }

    @keyframes spin{
        50%{
            opacity: 1;
        }
        to{
            transform: rotate(360deg);
            opacity: 0;
            visibility: hidden;
        }
    }

    &.close{
        animation: fadeOut 1s ease-in-out forwards;

        @keyframes fadeOut{
            to{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}