@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eaeaea;
  --foreground: #0F0F0F;
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes text-pan{
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}