@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #eaeaea;
  background: #0F0F0F
}

@keyframes text-pan{
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}